

/* for charts */

.horizChart1, .horizChart2, .horizChart3 {
  fill: steelblue;
}
.horizChart1 text  {
  fill: black;
  font: 8px sans-serif;
  text-anchor: end;
}

.horizChart3 text, .horizChart2 text{
  fill: black;
  font: 11px sans-serif;
  text-anchor: end;
  
}

.axis text {
  font: 8px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x .axis {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}


.y .axis {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
  
}

.donut {
  margin: auto;
}